/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*Default font family*/
/*changeable font color*/
/*bg-color*/
/*some default color*/
/*<hr> color*/
/*basic var*/
/*for relative position
------------------------*/
/*for absolute position
-----------------------*/
/*absolute*/
/*size
---------*/
/*circle
-------------*/
/*responsive mixin
------------------*/
/*text align
-----------*/
/*Default font family*/
/*changeable font color*/
/*bg-color*/
/*some default color*/
/*<hr> color*/
/*basic var*/
body {
  background-color: white;
  font-size: 16px;
  line-height: 1.6;
  font-family: Lato;
  font-weight: 400;
  color: #646464;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0px;
  max-width: 100vw;
  overflow-x: hidden;
}

/*Default font family*/
/*changeable font color*/
/*bg-color*/
/*some default color*/
/*<hr> color*/
/*basic var*/
/*------------------------
Default style of Link
-------------------------*/
a {
  display: block;
  color: #646464;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

a:hover, a:focus {
  color: #FF9935;
  text-decoration: none;
}

/*Default font family*/
/*changeable font color*/
/*bg-color*/
/*some default color*/
/*<hr> color*/
/*basic var*/
::selection {
  background: #2574f5;
}

::-moz-selection {
  background: #2574f5;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #2574f5;
}

/*Default font family*/
/*changeable font color*/
/*bg-color*/
/*some default color*/
/*<hr> color*/
/*basic var*/
/*responsive mixin
------------------*/
hr.up {
  position: relative;
  left: 0px;
  width: 300px;
  height: 2px;
  background: #5b68ce;
  margin: 0px 0px;
}

@media screen and (max-width: 480px) {
  hr.up {
    width: 250px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  hr.up {
    width: 250px;
  }
}

hr.down {
  position: relative;
  left: 0px;
  width: 140px;
  height: 2px;
  background: #5b68ce;
  margin: 0px 0px;
}

@media screen and (max-width: 480px) {
  hr.down {
    width: 100px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  hr.down {
    width: 100px;
  }
}

.title-wrapper {
  position: relative;
  padding: 10px 10px;
}

.title-wrapper::after {
  position: absolute;
  left: 0px;
  top: 0px;
  content: '';
  width: 2px;
  height: 100%;
  background: #5b68ce;
}

/*Default font family*/
/*changeable font color*/
/*bg-color*/
/*some default color*/
/*<hr> color*/
/*basic var*/
/*----------
Font Color
-----------*/
/*Some default used color*/
.white {
  color: #ffffff;
}

.white-5 {
  color: #f2f2f2;
}

.white-10 {
  color: #e6e6e6;
}

.white-15 {
  color: #d9d9d9;
}

.white-20 {
  color: #cccccc;
}

.black {
  color: #000000;
}

/*used color in page, change color here*/
.basic-color {
  /*basic text color of this page*/
  color: #FF9935;
}

.light-basic-color {
  /*ligth text color based on ".basic-color" */
  color: #b9b9f6;
}

.text-color {
  /*normal body text color,change body normal text color change this color*/
  color: #646464;
}

.title-color {
  /*title text color of the page*/
  color: #484848;
}

/*------------
End:Font Color
--------------*/
/*-------------------------------------------
 Background color of the page
 ------------------------------------------*/
.basic-bg-color {
  background-color: #FF9935;
}

.basic-bg-color-7 {
  background-color: rgba(255, 153, 53, 0.79);
}

.different-bg-color {
  background-color: #f3f3f3;
}

.footer-bg-color {
  background-color: #f4f4f4;
}

/*-------------------------------------------
 End : Background color of the page
 ------------------------------------------*/
/*Default font family*/
/*changeable font color*/
/*bg-color*/
/*some default color*/
/*<hr> color*/
/*basic var*/
/*-----------------------------

start:helper class

-----------------------------*/
/*----------------
float
------------------*/
.f-l {
  float: left;
}

.f-r {
  float: right;
}

/*-------------------
Display
-------------------*/
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

/*-------------------------
overflow
-------------------------*/
.overflow {
  overflow: hidden;
}

.overflow-x {
  overflow-x: hidden;
}

.overflow-y {
  overflow-x: hidden;
}

/*-------------------------
Border Radius
-------------------------*/
.radius-0 {
  border-radius: 0px;
}

.radius-5 {
  border-radius: 5px;
}

.radius-10 {
  border-radius: 10px;
}

.radius-15 {
  border-radius: 15px;
}

.radius-20 {
  border-radius: 20px;
}

.radius-25 {
  border-radius: 25px;
}

.radius-30 {
  border-radius: 30px;
}

.radius-35 {
  border-radius: 35px;
}

.radius-40 {
  border-radius: 40px;
}

.radius-45 {
  border-radius: 45px;
}

.radius-50 {
  border-radius: 50px;
}

/*-------------------
Button
-------------------*/
button {
  border: none;
  outline: none;
  letter-spacing: .1em;
  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  text-align: center;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/*-----------------------
Link
------------------------*/
a {
  border: none;
  outline: 0;
  text-decoration: none;
}

/*-----------------------
input field
-----------------------*/
input, textarea {
  border: none;
  outline: none;
}

input:focus, textarea:focus {
  border: none;
  outline: none;
}

/*---------------------------
Gap Between Different Section
---------------------------*/
.main {
  padding: 100px 0px;
}

@media screen and (max-width: 480px) {
  .main {
    padding: 40px 0px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .main {
    padding: 60px 0px;
  }
}

/*------------------------------------------
Some Important class for responsive purposes
-------------------------------------------*/
@media screen and (max-width: 480px) {
  .s-text-center {
    text-align: center;
  }
  .s-text-left {
    text-align: left;
  }
  .s-text-right {
    text-align: right;
  }
  .s-center-x {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .s-center-y {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .s-block {
    display: block;
  }
  .s-inline-block {
    display: inline-block;
  }
  /*margin*/
  .s-m-l-0 {
    margin-left: 0px;
  }
  .s-m-r-0 {
    margin-right: 0px;
  }
  .s-m-b-5 {
    margin-bottom: 5px;
  }
  .s-m-b-10 {
    margin-bottom: 10px;
  }
  .s-m-b-15 {
    margin-bottom: 15px;
  }
  .s-m-b-20 {
    margin-bottom: 20px;
  }
  .s-m-b-25 {
    margin-bottom: 25px;
  }
  .s-m-b-30 {
    margin-bottom: 30px;
  }
  .s-m-b-35 {
    margin-bottom: 35px;
  }
  .s-m-b-40 {
    margin-bottom: 40px;
  }
  .s-m-b-45 {
    margin-bottom: 45px;
  }
  .s-m-b-50 {
    margin-bottom: 50px;
  }
  .s-m-b-55 {
    margin-bottom: 55px;
  }
  .s-m-b-60 {
    margin-bottom: 60px;
  }
  .s-f-l {
    float: left;
  }
  .s-f-r {
    float: right;
  }
  .s-f-a {
    float: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .s-text-center {
    text-align: center;
  }
  .s-text-left {
    text-align: left;
  }
  .s-textright {
    text-align: right;
  }
  .s-center-x {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .s-center-y {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .s-block {
    display: block;
  }
  .s-inline-block {
    display: inline-block;
  }
  .s-f-l {
    float: left;
  }
  .s-f-r {
    float: right;
  }
  .s-f-a {
    float: none;
  }
}

/*-----------------------------
end:helper class
-----------------------------*/
/*---------------------------------------------------------------------------------

							Start: Rapid Css Style 

( NOTE : This style for increasing the speed of styling. This use as shortcut)

---------------------------------------------------------------------------------*/
/*----------------------
	start:Font
-----------------------*/
/*Font Family
----------------*/
.roboto {
  font-family: 'Roboto', sans-serif;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.lora {
  font-family: 'Lora', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.libre {
  font-family: 'Libre Baskerville', serif;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

/*End:Font Family
----------------*/
/*Font Weight
------------*/
.thin {
  font-weight: 100;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.Black {
  font-weight: 900;
}

/*End:Font Weight
------------*/
/*font different size*/
._14px {
  font-size: 14px;
}

._50px {
  font-size: 50px;
}

._38px {
  font-size: 38px;
}

._38px {
  font-size: 38px;
}

._38px {
  font-size: 38px;
}

._16px {
  font-size: 16px;
}

._17px {
  font-size: 17px;
}

._18px {
  font-size: 18px;
}

._19px {
  font-size: 19px;
}

._20px {
  font-size: 20px;
}

._21px {
  font-size: 21px;
}

._22px {
  font-size: 22px;
}

._23px {
  font-size: 23px;
}

._24px {
  font-size: 24px;
}

._25px {
  font-size: 25px;
}

._26px {
  font-size: 26px;
}

._27px {
  font-size: 27px;
}

._28px {
  font-size: 28px;
}

._29px {
  font-size: 29px;
}

._30px {
  font-size: 30px;
}

._31px {
  font-size: 31px;
}

._32px {
  font-size: 32px;
}

._33px {
  font-size: 33px;
}

._34px {
  font-size: 34px;
}

._35px {
  font-size: 35px;
}

._36px {
  font-size: 36px;
}

._37px {
  font-size: 37px;
}

._38px {
  font-size: 38px;
}

._39px {
  font-size: 39px;
}

._40px {
  font-size: 40px;
}

._41px {
  font-size: 41px;
}

._42px {
  font-size: 42px;
}

._43px {
  font-size: 43px;
}

._44px {
  font-size: 44px;
}

._45px {
  font-size: 45px;
}

._46px {
  font-size: 46px;
}

._47px {
  font-size: 47px;
}

._48px {
  font-size: 48px;
}

._49px {
  font-size: 49px;
}

._50px {
  font-size: 50px;
}

._51px {
  font-size: 51px;
}

._52px {
  font-size: 52px;
}

._53px {
  font-size: 53px;
}

._54px {
  font-size: 54px;
}

._55px {
  font-size: 55px;
}

._56px {
  font-size: 56px;
}

._57px {
  font-size: 57px;
}

._58px {
  font-size: 58px;
}

._59px {
  font-size: 59px;
}

._60px {
  font-size: 60px;
}

._61px {
  font-size: 61px;
}

._62px {
  font-size: 62px;
}

._63px {
  font-size: 63px;
}

._64px {
  font-size: 64px;
}

._65px {
  font-size: 65px;
}

._66px {
  font-size: 66px;
}

._67px {
  font-size: 67px;
}

._68px {
  font-size: 68px;
}

._69px {
  font-size: 69px;
}

._70px {
  font-size: 70px;
}

._71px {
  font-size: 71px;
}

._72px {
  font-size: 72px;
}

._73px {
  font-size: 73px;
}

._74px {
  font-size: 74px;
}

._75px {
  font-size: 75px;
}

._76px {
  font-size: 76px;
}

._77px {
  font-size: 77px;
}

._78px {
  font-size: 78px;
}

._79px {
  font-size: 79px;
}

._80px {
  font-size: 80px;
}

@media screen and (max-width: 480px) {
  ._19px, ._20px, ._21px, ._22px, ._23px {
    font-size: 18px;
  }
  ._24px, ._25px, ._26px, ._27px, ._28px, ._29px, ._30px {
    font-size: 20px;
  }
  ._31px, ._32px, ._33px, ._34px, ._35px, ._36px, ._37px, ._38px, ._39px, ._40px {
    font-size: 22px;
  }
  ._41px, ._42px, ._43px, ._44px, ._45px, ._46px, ._47px, ._48px, ._49px, ._50px {
    font-size: 28px;
  }
  ._51px, ._52px, ._53px, ._54px, ._55px, ._56px, ._57px, ._58px, ._59px, ._60px {
    font-size: 28px;
  }
  ._61px, ._62px, ._63px, ._64px, ._65px, ._66px, ._67px, ._68px, ._69px, ._70px, ._71px, ._72px, ._73px, ._74px, ._75px, ._76px, ._77px, ._78px, ._79px, ._80px, ._81px, ._82px, ._83px, ._84px, ._85px, ._86px, ._87px, ._88px, ._89px, ._90px, ._91px, ._92px, ._93px, ._94px, ._95px, ._96px, ._97px, ._98px, ._99px, ._100px, ._101px, ._102px, ._103px, ._104px, ._105px, ._106px, ._107px, ._108px, ._109px, ._110px, ._111px, ._112px, ._113px, ._114px, ._115px, ._116px, ._117px, ._118px, ._119px, ._120px {
    font-size: 35px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  ._21px, ._22px, ._23px {
    font-size: 20px;
  }
  ._24px, ._25px, ._26px, ._27px, ._28px, ._29px, ._30px {
    font-size: 24px;
  }
  ._31px, ._32px, ._33px, ._34px, ._35px, ._36px, ._37px, ._38px, ._39px, ._40px {
    font-size: 28px;
  }
  ._41px, ._42px, ._43px, ._44px, ._45px, ._46px, ._47px, ._48px, ._49px, ._50px {
    font-size: 32px;
  }
  ._51px, ._52px, ._53px, ._54px, ._55px, ._56px, ._57px, ._58px, ._59px, ._60px {
    font-size: 36px;
  }
  ._61px, ._62px, ._63px, ._64px, ._65px, ._66px, ._67px, ._68px, ._69px, ._70px, ._71px, ._72px, ._73px, ._74px, ._75px, ._76px, ._77px, ._78px, ._79px, ._80px, ._81px, ._82px, ._83px, ._84px, ._85px, ._86px, ._87px, ._88px, ._89px, ._90px, ._91px, ._92px, ._93px, ._94px, ._95px, ._96px, ._97px, ._98px, ._99px, ._100px, ._101px, ._102px, ._103px, ._104px, ._105px, ._106px, ._107px, ._108px, ._109px, ._110px, ._111px, ._112px, ._113px, ._114px, ._115px, ._116px, ._117px, ._118px, ._119px, ._120px {
    font-size: 40px;
  }
}

/*----------------------
	End:Font
-----------------------*/
/*--------------------------

Start:Background Default

--------------------------*/
.background {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.background-x {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg_white {
  background: #ffffff;
}

.bg-grey {
  background: #f1f1f1;
}

/*--------------------
End:Background Default
---------------------*/
/*-----------------
Start:margin
-----------------*/
/*clear margon*/
.clear-margin {
  margin: 0px;
}

.clear-margin-top {
  margin-top: 0px;
}

.clear-margin-bottom {
  margin-bottom: 0px;
}

.clear-margin-left {
  margin-left: 0px;
}

.clear-margin-right {
  margin-right: 0px;
}

/*MARGIN TOP*/
.m-t-5 {
  margin-top: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-25 {
  margin-top: 25px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-35 {
  margin-top: 35px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-t-45 {
  margin-top: 45px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-t-55 {
  margin-top: 55px;
}

.m-t-60 {
  margin-top: 60px;
}

.m-t-65 {
  margin-top: 65px;
}

.m-t-70 {
  margin-top: 70px;
}

.m-t-75 {
  margin-top: 75px;
}

.m-t-80 {
  margin-top: 80px;
}

/*MARGIN BOTTOM*/
.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-35 {
  margin-bottom: 35px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-b-45 {
  margin-bottom: 45px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.m-b-55 {
  margin-bottom: 55px;
}

.m-b-60 {
  margin-bottom: 60px;
}

.m-b-80 {
  margin-bottom: 80px;
}

/*MARGIN RIGHT*/
.m-r-0 {
  margin-right: 0px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-r-25 {
  margin-right: 25px;
}

.m-r-30 {
  margin-right: 30px;
}

.m-r-35 {
  margin-right: 35px;
}

.m-r-40 {
  margin-right: 40px;
}

.m-r-45 {
  margin-right: 45px;
}

.m-r-50 {
  margin-right: 50px;
}

/*MARGIN LEFT*/
.m-l-0 {
  margin-left: 0px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-l-25 {
  margin-left: 25px;
}

.m-l-30 {
  margin-left: 30px;
}

.m-l-35 {
  margin-left: 35px;
}

.m-l-40 {
  margin-left: 40px;
}

.m-l-45 {
  margin-left: 45px;
}

.m-l-50 {
  margin-left: 50px;
}

@media screen and (max-width: 480px) {
  .s-m-l-0 {
    margin-left: 0px;
  }
  .s-m-r-0 {
    margin-right: 0px;
  }
  /*margin bottom for small device*/
  .s-m-b-5 {
    margin-bottom: 5px;
  }
  .s-m-b-10 {
    margin-bottom: 10px;
  }
  .s-m-b-15 {
    margin-bottom: 15px;
  }
  .s-m-b-20 {
    margin-bottom: 20px;
  }
  .s-m-b-25 {
    margin-bottom: 25px;
  }
  .s-m-b-30 {
    margin-bottom: 30px;
  }
  .s-m-b-35 {
    margin-bottom: 35px;
  }
  .s-m-b-40 {
    margin-bottom: 40px;
  }
  .s-m-b-45 {
    margin-bottom: 45px;
  }
  .s-m-b-50 {
    margin-bottom: 50px;
  }
  .s-m-b-55 {
    margin-bottom: 55px;
  }
  .s-m-b-60 {
    margin-bottom: 60px;
  }
  /*margin top for small device*/
  .s-m-t-5 {
    margin-top: 5px;
  }
  .s-m-t-10 {
    margin-top: 10px;
  }
  .s-m-t-15 {
    margin-top: 15px;
  }
  .s-m-t-20 {
    margin-top: 20px;
  }
  .s-m-t-25 {
    margin-top: 25px;
  }
  .s-m-t-30 {
    margin-top: 30px;
  }
  .s-m-t-35 {
    margin-top: 35px;
  }
  .s-m-t-40 {
    margin-top: 40px;
  }
  .s-m-t-45 {
    margin-top: 45px;
  }
  .s-m-t-50 {
    margin-top: 50px;
  }
  .s-m-t-55 {
    margin-top: 55px;
  }
  .s-m-t-60 {
    margin-top: 60px;
  }
  .s-m-t-65 {
    margin-top: 65px;
  }
  .s-m-t-70 {
    margin-top: 70px;
  }
  .s-m-t-75 {
    margin-top: 75px;
  }
  .s-m-t-80 {
    margin-top: 80px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .s-m-l-0 {
    margin-left: 0px;
  }
  .s-m-r-0 {
    margin-right: 0px;
  }
  .s-m-b-5 {
    margin-bottom: 5px;
  }
  .s-m-b-10 {
    margin-bottom: 10px;
  }
  .s-m-b-15 {
    margin-bottom: 15px;
  }
  .s-m-b-20 {
    margin-bottom: 20px;
  }
  .s-m-b-25 {
    margin-bottom: 25px;
  }
  .s-m-b-30 {
    margin-bottom: 30px;
  }
  .s-m-b-35 {
    margin-bottom: 35px;
  }
  .s-m-b-40 {
    margin-bottom: 40px;
  }
  .s-m-b-45 {
    margin-bottom: 45px;
  }
  .s-m-b-50 {
    margin-bottom: 50px;
  }
  .s-m-b-55 {
    margin-bottom: 55px;
  }
  .s-m-b-60 {
    margin-bottom: 60px;
  }
}

/*-----------------------
padding
-----------------------*/
.less-padding {
  padding: 0px 1px;
}

@media screen and (max-width: 480px) {
  .less-padding {
    padding: 0px 15px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .less-padding {
    padding: 0px 15px;
  }
}

.add-padding {
  padding: 5px 0px;
}

.less-padding-2 {
  padding: 0px 5px;
}

@media screen and (max-width: 480px) {
  .less-padding-2 {
    padding: 0px 15px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .less-padding-2 {
    padding: 0px 15px;
  }
}

.clear-padding {
  padding: 0px;
}

.clear-padding-top {
  padding-top: 0px;
}

.clear-padding-bottom {
  padding-bottom: 0px;
}

.clear-padding-left {
  padding-left: 0px;
}

.clear-padding-right {
  padding-right: 0px;
}

.p-l-5 {
  padding: 0 0 0 5px;
}

.p-l-10 {
  padding: 0 0 0 10px;
}

.p-l-15 {
  padding: 0 0 0 15px;
}

.p-l-20 {
  padding: 0 0 0 20px;
}

.p-l-25 {
  padding: 0 0 0 25px;
}

.p-l-30 {
  padding: 0 0 0 30px;
}

.p-l-35 {
  padding: 0 0 0 35px;
}

.p-l-40 {
  padding: 0 0 0 40px;
}

.p-l-45 {
  padding: 0 0 0 55px;
}

.p-l-50 {
  padding: 0 0 0 50px;
}

.p-l-55 {
  padding: 0 0 0 55px;
}

.p-l-60 {
  padding: 0 0 0 60px;
}

.p-l-65 {
  padding: 0 0 0 65px;
}

/*right padding*/
.p-r-5 {
  padding: 0 5px 0 0px;
}

.p-r-10 {
  padding: 0 10px 0 0px;
}

.p-r-15 {
  padding: 0 15px 0 0px;
}

.p-r-20 {
  padding: 0 20px 0 0px;
}

.p-r-25 {
  padding: 0 25px 0 0px;
}

.p-r-30 {
  padding: 0 30px 0 0px;
}

.p-r-35 {
  padding: 0 35px 0 0px;
}

.p-r-40 {
  padding: 0 40px 0 0px;
}

.p-r-45 {
  padding: 0 45px 0 0px;
}

.p-r-50 {
  padding: 0 50px 0 0px;
}

.p-r-55 {
  padding: 0 55px 0 55px;
}

.p-r-60 {
  padding: 0 60px 0 0px;
}

.p-r-65 {
  padding: 0 65px 0 0px;
}

.p-b-5 {
  padding-bottom: 5px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-b-25 {
  padding-bottom: 25px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.p-b-35 {
  padding-bottom: 35px;
}

.p-b-40 {
  padding-bottom: 40px;
}

.p-b-45 {
  padding-bottom: 55px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.p-b-55 {
  padding-bottom: 55px;
}

.p-b-60 {
  padding-bottom: 60px;
}

.p-b-65 {
  padding-bottom: 65px;
}

.p-t-5 {
  padding-top: 5px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-25 {
  padding-top: 25px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-t-35 {
  padding-top: 35px;
}

.p-t-40 {
  padding-top: 40px;
}

.p-t-45 {
  padding-top: 55px;
}

.p-t-50 {
  padding-top: 50px;
}

.p-t-55 {
  padding-top: 55px;
}

.p-t-60 {
  padding-top: 60px;
}

.p-t-65 {
  padding-top: 65px;
}

/*Padding for small screen*/
@media screen and (max-width: 480px) {
  .s-p-l-5 {
    padding: 0 0 0 5px;
  }
  .s-p-l-10 {
    padding: 0 0 0 10px;
  }
  .s-p-l-15 {
    padding: 0 0 0 15px;
  }
  .s-p-l-20 {
    padding: 0 0 0 20px;
  }
  .s-p-l-25 {
    padding: 0 0 0 25px;
  }
  .s-p-l-30 {
    padding: 0 0 0 30px;
  }
  .s-p-l-35 {
    padding: 0 0 0 35px;
  }
  .s-p-l-40 {
    padding: 0 0 0 40px;
  }
  .s-p-l-45 {
    padding: 0 0 0 55px;
  }
  .s-p-l-50 {
    padding: 0 0 0 50px;
  }
  .s-p-l-55 {
    padding: 0 0 0 55px;
  }
  .s-p-l-60 {
    padding: 0 0 0 60px;
  }
  .s-p-l-65 {
    padding: 0 0 0 65px;
  }
  .s-p-r-5 {
    padding: 0 5 0 0px;
  }
  .s-p-r-10 {
    padding: 0 10 0 0px;
  }
  .s-p-r-15 {
    padding: 0 15 0 0px;
  }
  .s-p-r-20 {
    padding: 0 20 0 0px;
  }
  .s-p-r-25 {
    padding: 0 25 0 0px;
  }
  .s-p-r-30 {
    padding: 0 30 0 0px;
  }
  .s-p-r-35 {
    padding: 0 35 0 0px;
  }
  .s-p-r-40 {
    padding: 0 40 0 0px;
  }
  .s-p-r-45 {
    padding: 0 45 0 0px;
  }
  .s-p-r-50 {
    padding: 0 50 0 0px;
  }
  .s-p-r-55 {
    padding: 0 55 0 55px;
  }
  .s-p-r-60 {
    padding: 0 60 0 0px;
  }
  .s-p-r-65 {
    padding: 0 65 0 0px;
  }
  .s-p-b-5 {
    padding-bottom: 5px;
  }
  .s-p-b-10 {
    padding-bottom: 10px;
  }
  .s-p-b-15 {
    padding-bottom: 15px;
  }
  .s-p-b-20 {
    padding-bottom: 20px;
  }
  .s-p-b-25 {
    padding-bottom: 25px;
  }
  .s-p-b-30 {
    padding-bottom: 30px;
  }
  .s-p-b-35 {
    padding-bottom: 35px;
  }
  .s-p-b-40 {
    padding-bottom: 40px;
  }
  .s-p-b-45 {
    padding-bottom: 55px;
  }
  .s-p-b-50 {
    padding-bottom: 50px;
  }
  .s-p-b-55 {
    padding-bottom: 55px;
  }
  .s-p-b-60 {
    padding-bottom: 60px;
  }
  .s-p-b-65 {
    padding-bottom: 65px;
  }
  .s-p-t-5 {
    padding-top: 5px;
  }
  .s-p-t-10 {
    padding-top: 10px;
  }
  .s-p-t-15 {
    padding-top: 15px;
  }
  .s-p-t-20 {
    padding-top: 20px;
  }
  .s-p-t-25 {
    padding-top: 25px;
  }
  .s-p-t-30 {
    padding-top: 30px;
  }
  .s-p-t-35 {
    padding-top: 35px;
  }
  .s-p-t-40 {
    padding-top: 40px;
  }
  .s-p-t-45 {
    padding-top: 55px;
  }
  .s-p-t-50 {
    padding-top: 50px;
  }
  .s-p-t-55 {
    padding-top: 55px;
  }
  .s-p-t-60 {
    padding-top: 60px;
  }
  .s-p-t-65 {
    padding-top: 65px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .s-p-l-5 {
    padding: 0 0 0 5px;
  }
  .s-p-l-10 {
    padding: 0 0 0 10px;
  }
  .s-p-l-15 {
    padding: 0 0 0 15px;
  }
  .s-p-l-20 {
    padding: 0 0 0 20px;
  }
  .s-p-l-25 {
    padding: 0 0 0 25px;
  }
  .s-p-l-30 {
    padding: 0 0 0 30px;
  }
  .s-p-l-35 {
    padding: 0 0 0 35px;
  }
  .s-p-l-40 {
    padding: 0 0 0 40px;
  }
  .s-p-l-45 {
    padding: 0 0 0 55px;
  }
  .s-p-l-50 {
    padding: 0 0 0 50px;
  }
  .s-p-l-55 {
    padding: 0 0 0 55px;
  }
  .s-p-l-60 {
    padding: 0 0 0 60px;
  }
  .s-p-l-65 {
    padding: 0 0 0 65px;
  }
  .s-p-r-5 {
    padding: 0 5 0 0px;
  }
  .s-p-r-10 {
    padding: 0 10 0 0px;
  }
  .s-p-r-15 {
    padding: 0 15 0 0px;
  }
  .s-p-r-20 {
    padding: 0 20 0 0px;
  }
  .s-p-r-25 {
    padding: 0 25 0 0px;
  }
  .s-p-r-30 {
    padding: 0 30 0 0px;
  }
  .s-p-r-35 {
    padding: 0 35 0 0px;
  }
  .s-p-r-40 {
    padding: 0 40 0 0px;
  }
  .s-p-r-45 {
    padding: 0 45 0 0px;
  }
  .s-p-r-50 {
    padding: 0 50 0 0px;
  }
  .s-p-r-55 {
    padding: 0 55 0 55px;
  }
  .s-p-r-60 {
    padding: 0 60 0 0px;
  }
  .s-p-r-65 {
    padding: 0 65 0 0px;
  }
  .s-p-b-5 {
    padding-bottom: 5px;
  }
  .s-p-b-10 {
    padding-bottom: 10px;
  }
  .s-p-b-15 {
    padding-bottom: 15px;
  }
  .s-p-b-20 {
    padding-bottom: 20px;
  }
  .s-p-b-25 {
    padding-bottom: 25px;
  }
  .s-p-b-30 {
    padding-bottom: 30px;
  }
  .s-p-b-35 {
    padding-bottom: 35px;
  }
  .s-p-b-40 {
    padding-bottom: 40px;
  }
  .s-p-b-45 {
    padding-bottom: 55px;
  }
  .s-p-b-50 {
    padding-bottom: 50px;
  }
  .s-p-b-55 {
    padding-bottom: 55px;
  }
  .s-p-b-60 {
    padding-bottom: 60px;
  }
  .s-p-b-65 {
    padding-bottom: 65px;
  }
  .s-p-t-5 {
    padding-top: 5px;
  }
  .s-p-t-10 {
    padding-top: 10px;
  }
  .s-p-t-15 {
    padding-top: 15px;
  }
  .s-p-t-20 {
    padding-top: 20px;
  }
  .s-p-t-25 {
    padding-top: 25px;
  }
  .s-p-t-30 {
    padding-top: 30px;
  }
  .s-p-t-35 {
    padding-top: 35px;
  }
  .s-p-t-40 {
    padding-top: 40px;
  }
  .s-p-t-45 {
    padding-top: 55px;
  }
  .s-p-t-50 {
    padding-top: 50px;
  }
  .s-p-t-55 {
    padding-top: 55px;
  }
  .s-p-t-60 {
    padding-top: 60px;
  }
  .s-p-t-65 {
    padding-top: 65px;
  }
}

/*----------------
Position
----------------*/
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.center-x {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.center-y {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.middle {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.top {
  top: 0px;
}

.bottom {
  bottom: 0px;
}

.left {
  left: 0px;
}

.right {
  position: relative;
  left: 100%;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

/*-------------------
Display
-------------------*/
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

/*-------------------------
overflow
-------------------------*/
.overflow {
  overflow: hidden;
}

.overflow-x {
  overflow-x: hidden;
}

.overflow-y {
  overflow-x: hidden;
}

/*-------------------------
Border Radius
-------------------------*/
.radius-0 {
  border-radius: 0px;
}

.radius-5 {
  border-radius: 5px;
}

.radius-10 {
  border-radius: 10px;
}

.radius-15 {
  border-radius: 15px;
}

.radius-20 {
  border-radius: 20px;
}

.radius-25 {
  border-radius: 25px;
}

.radius-30 {
  border-radius: 30px;
}

.radius-35 {
  border-radius: 35px;
}

.radius-40 {
  border-radius: 40px;
}

.radius-45 {
  border-radius: 45px;
}

.radius-50 {
  border-radius: 50px;
}

/*---------------------------------------------------------------------------------
							End: Rapid Css Style 
---------------------------------------------------------------------------------*/
/*Default font family*/
/*changeable font color*/
/*bg-color*/
/*some default color*/
/*<hr> color*/
/*basic var*/
body {
  background-color: white;
  font-size: 16px;
  line-height: 1.6;
  font-family: Lato;
  font-weight: 400;
  color: #646464;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0px;
  max-width: 100vw;
  overflow-x: hidden;
}

/*Default font family*/
/*changeable font color*/
/*bg-color*/
/*some default color*/
/*<hr> color*/
/*basic var*/
/*------------------------
Default style of Link
-------------------------*/
a {
  display: block;
  color: #646464;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

a:hover, a:focus {
  color: #FF9935;
  text-decoration: none;
}

/*Default font family*/
/*changeable font color*/
/*bg-color*/
/*some default color*/
/*<hr> color*/
/*basic var*/
::selection {
  background: #2574f5;
}

::-moz-selection {
  background: #2574f5;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #2574f5;
}

/*Default font family*/
/*changeable font color*/
/*bg-color*/
/*some default color*/
/*<hr> color*/
/*basic var*/
/*responsive mixin
------------------*/
hr.up {
  position: relative;
  left: 0px;
  width: 300px;
  height: 2px;
  background: #5b68ce;
  margin: 0px 0px;
}

@media screen and (max-width: 480px) {
  hr.up {
    width: 250px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  hr.up {
    width: 250px;
  }
}

hr.down {
  position: relative;
  left: 0px;
  width: 140px;
  height: 2px;
  background: #5b68ce;
  margin: 0px 0px;
}

@media screen and (max-width: 480px) {
  hr.down {
    width: 100px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  hr.down {
    width: 100px;
  }
}

.title-wrapper {
  position: relative;
  padding: 10px 10px;
}

.title-wrapper::after {
  position: absolute;
  left: 0px;
  top: 0px;
  content: '';
  width: 2px;
  height: 100%;
  background: #5b68ce;
}

/*Default font family*/
/*changeable font color*/
/*bg-color*/
/*some default color*/
/*<hr> color*/
/*basic var*/
/*----------
Font Color
-----------*/
/*Some default used color*/
.white {
  color: #ffffff;
}

.white-5 {
  color: #f2f2f2;
}

.white-10 {
  color: #e6e6e6;
}

.white-15 {
  color: #d9d9d9;
}

.white-20 {
  color: #cccccc;
}

.black {
  color: #000000;
}

/*used color in page, change color here*/
.basic-color {
  /*basic text color of this page*/
  color: #FF9935;
}

.light-basic-color {
  /*ligth text color based on ".basic-color" */
  color: #b9b9f6;
}

.text-color {
  /*normal body text color,change body normal text color change this color*/
  color: #646464;
}

.title-color {
  /*title text color of the page*/
  color: #484848;
}

/*------------
End:Font Color
--------------*/
/*-------------------------------------------
 Background color of the page
 ------------------------------------------*/
.basic-bg-color {
  background-color: #FF9935;
}

.basic-bg-color-7 {
  background-color: rgba(255, 153, 53, 0.79);
}

.different-bg-color {
  background-color: #f3f3f3;
}

.footer-bg-color {
  background-color: #f4f4f4;
}

/*-------------------------------------------
 End : Background color of the page
 ------------------------------------------*/
/*Default font family*/
/*changeable font color*/
/*bg-color*/
/*some default color*/
/*<hr> color*/
/*basic var*/
/*-----------------------------

start:helper class

-----------------------------*/
/*----------------
float
------------------*/
.f-l {
  float: left;
}

.f-r {
  float: right;
}

/*-------------------
Display
-------------------*/
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

/*-------------------------
overflow
-------------------------*/
.overflow {
  overflow: hidden;
}

.overflow-x {
  overflow-x: hidden;
}

.overflow-y {
  overflow-x: hidden;
}

/*-------------------------
Border Radius
-------------------------*/
.radius-0 {
  border-radius: 0px;
}

.radius-5 {
  border-radius: 5px;
}

.radius-10 {
  border-radius: 10px;
}

.radius-15 {
  border-radius: 15px;
}

.radius-20 {
  border-radius: 20px;
}

.radius-25 {
  border-radius: 25px;
}

.radius-30 {
  border-radius: 30px;
}

.radius-35 {
  border-radius: 35px;
}

.radius-40 {
  border-radius: 40px;
}

.radius-45 {
  border-radius: 45px;
}

.radius-50 {
  border-radius: 50px;
}

/*-------------------
Button
-------------------*/
button {
  border: none;
  outline: none;
  letter-spacing: .1em;
  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  text-align: center;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/*-----------------------
Link
------------------------*/
a {
  border: none;
  outline: 0;
  text-decoration: none;
}

/*-----------------------
input field
-----------------------*/
input, textarea {
  border: none;
  outline: none;
}

input:focus, textarea:focus {
  border: none;
  outline: none;
}

/*---------------------------
Gap Between Different Section
---------------------------*/
.main {
  padding: 100px 0px;
}

@media screen and (max-width: 480px) {
  .main {
    padding: 40px 0px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .main {
    padding: 60px 0px;
  }
}

/*------------------------------------------
Some Important class for responsive purposes
-------------------------------------------*/
@media screen and (max-width: 480px) {
  .s-text-center {
    text-align: center;
  }
  .s-text-left {
    text-align: left;
  }
  .s-text-right {
    text-align: right;
  }
  .s-center-x {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .s-center-y {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .s-block {
    display: block;
  }
  .s-inline-block {
    display: inline-block;
  }
  /*margin*/
  .s-m-l-0 {
    margin-left: 0px;
  }
  .s-m-r-0 {
    margin-right: 0px;
  }
  .s-m-b-5 {
    margin-bottom: 5px;
  }
  .s-m-b-10 {
    margin-bottom: 10px;
  }
  .s-m-b-15 {
    margin-bottom: 15px;
  }
  .s-m-b-20 {
    margin-bottom: 20px;
  }
  .s-m-b-25 {
    margin-bottom: 25px;
  }
  .s-m-b-30 {
    margin-bottom: 30px;
  }
  .s-m-b-35 {
    margin-bottom: 35px;
  }
  .s-m-b-40 {
    margin-bottom: 40px;
  }
  .s-m-b-45 {
    margin-bottom: 45px;
  }
  .s-m-b-50 {
    margin-bottom: 50px;
  }
  .s-m-b-55 {
    margin-bottom: 55px;
  }
  .s-m-b-60 {
    margin-bottom: 60px;
  }
  .s-f-l {
    float: left;
  }
  .s-f-r {
    float: right;
  }
  .s-f-a {
    float: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .s-text-center {
    text-align: center;
  }
  .s-text-left {
    text-align: left;
  }
  .s-textright {
    text-align: right;
  }
  .s-center-x {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .s-center-y {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .s-block {
    display: block;
  }
  .s-inline-block {
    display: inline-block;
  }
  .s-f-l {
    float: left;
  }
  .s-f-r {
    float: right;
  }
  .s-f-a {
    float: none;
  }
}

/*-----------------------------
end:helper class
-----------------------------*/
/*-------------------------------
Start:Custrom style

Note: this style can be changed anytime, 
its free to change.
-------------------------------*/
/*-----------------------
 Start: HOME PAGE
 ----------------------*/
/*============================
 
 Start: Nav

 ===========================*/
.header nav {
  background: transparent;
  padding: 30px 0px;
}

.header nav.navbar {
  margin-bottom: 0px;
}

.header nav .brand-logo {
  position: relative;
  width: 150px;
  height: auto;
  margin-top: -10px;
}

.header nav #menu li {
  position: relative;
  letter-spacing: 1px;
  margin-right: 15px;
  outline: 0 !important;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header nav #menu li:hover a {
  color: #FF9935;
}

/*change bootstrap nav style*/
.navbar-default {
  background: #ffffff;
  padding: 30px 0px;
  border: none;
}

@media screen and (max-width: 480px) {
  .navbar-default {
    padding: 20px 0px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .navbar-default {
    padding: 20px 0px;
  }
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.nav > li {
  text-align: center;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: transparent;
}

/*nav: color*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #FF9935;
  outline: 0;
}

/*============================
 End: Nav
 ===========================*/
.title-wrapper {
  background: #FF9935;
}

.title-wrapper .title {
  padding: 2.5% 0px;
}

.search {
  background: #ff7e00;
}

/*-------------------------------------
 
 Start : Search section

 ----------------------defaultSelect--------------*/
.search select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: 0px !important;
  outline: 0 !important;
  padding: 10px 12px;
  background: url("..//images/search/1.png");
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  margin-right: 3px;
  color: black;
}

.search .search-btn {
  padding: 10px 0px;
  text-align: center;
  color: white;
  background-color: #0193D0;
  outline: 0 !important;
  border: none;
  width: 100%;
  -webkit-transition: all 0.3 linear;
  -moz-transition: all 0.3 linear;
  transition: all 0.3 linear;
}

.search .search-btn:hover {
  background-color: white;
  color: #0193D0;
}

.search .advanced-search {
  padding-top: 10px;
  height: 40px;
  display: block;
}

/*-------------------------------------
 End : Search section
 ------------------------------------*/
/*-----------------------------------
 
Start: Latest Property

--------------------------------*/
.property .common-btn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 15px 60px;
  display: inline-block;
  margin: 0px 10px;
  text-transform: uppercase;
  letter-spacing: .2em;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s cubic-bezier(0.52, 1.64, 0.37, 0.66);
  -moz-transition: all 0.3s cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition: all 0.3s cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.property .common-btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s cubic-bezier(0.52, 1.64, 0.37, 0.66);
  -moz-transition: all 0.3s cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition: all 0.3s cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.property .common-btn-1 {
  border: 1px solid rgba(255, 153, 53, 0.8);
  color: black;
}

.property .common-btn-1e {
  overflow: hidden;
}

.property .common-btn-1e:after {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: rgba(255, 153, 53, 0.5);
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.property .common-btn-1e:hover,
.property .common-btn-1e:active {
  color: white;
}

.property .common-btn-1e:hover:after {
  height: 260%;
  opacity: 1;
}

.property .common-btn-1e:active:after {
  height: 400%;
  opacity: 1;
}

.property .common-btn-1e:active:focus {
  height: 400%;
  opacity: 1;
}

.property .property-item-container .belt {
  width: 500%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.property .property-item-container .belt .state {
  width: 20%;
}

.property .property-item-container .belt .state .inner-box {
  position: relative;
  overflow: hidden;
}

.property .property-item-container .belt .state .inner-box img {
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 70% 50%;
  transform-origin: 70% 50%;
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  transform: scale(1.08);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.property .property-item-container .belt .state .inner-box .search-icon {
  position: absolute;
  top: -100%;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 153, 53, 0.8);
  color: white;
  text-align: center;
  padding: 15px 0px;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.52, 1.64, 0.37, 0.66);
  -moz-transition: all 0.5s cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition: all 0.5s cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.property .property-item-container .belt .state .inner-box:hover img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.property .property-item-container .belt .state .inner-box:hover .search-icon {
  top: 0px;
}

//view btn

.view-btn {
  padding: 8px 40px;
  border-radius: 40px;
}

/*-----------------------------------
End : Latest Property
--------------------------------*/
/*----------------------------
 Start : sign up
 ---------------------------*/
.blog .common-wrapper {
  background: white;
  padding: 40px 60px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.blog .common-wrapper .sign-btn {
  padding: 10px 30px;
  background: #FF9935;
  color: white;
  letter-spacing: 0.2em;
  margin-top: 30px;
}

.blog .common-wrapper .sign-btn:hover {
  background: black;
  color: white;
}

/*----------------------------
 End : sign up
 ---------------------------*/
/*-------------------------------------
 Start : Footer
 ------------------------------------*/
footer .inner-box {
  position: relative;
  overflow: hidden;
}

footer .inner-box img {
  width: 100%;
  height: 100%;
}

footer .inner-box .search-icon {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 153, 53, 0.8);
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.52, 1.64, 0.37, 0.66);
  -moz-transition: all 0.5s cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition: all 0.5s cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

footer .inner-box:hover .search-icon {
  top: 0px;
}

footer a.social-icon {
  display: inline-block;
}

/*-------------------------------------
 End : Footer
 ------------------------------------*/
/*-----------------------
 End: HOME PAGE
 ----------------------*/
/*--------------------------------
  Start : second page start
----------------------------------*/
.form-control {
  height: 40px;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

button:hover, .btn:hover, button:focus, .btn:focus, button:active, .btn:active {
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

button, .btn {
  min-height: 40px;
  border: 0;
  font-size: 16px;
  padding: 6px 15px;
  text-decoration: none;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #848484;
  color: #848484;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  background-color: #848484;
  color: #fff;
}

.btn-outline-white {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active {
  background-color: #fff;
  color: #484848;
}

/* .btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active {background-color:rgba(255,255,255,0.25);color:#fff;} */
.blue {
  color: #0193d0;
}

.blue-bkg {
  background-color: #0193d0;
  color: #fff;
}

.light-blue-bkg {
  background-color: #BCE2F3;
  color: #848484;
}

.green {
  color: #6ebf4b;
}

.green-bkg {
  background-color: #6ebf4b;
  color: #fff;
}

.light-green-bkg {
  background-color: #DAEFD7;
  color: #848484;
}

.lighter-green-bkg {
  background-color: #F0F8ED;
  color: #848484;
}

.unavailable-container {
  padding: 14px 20px 6px 20px;
  margin-bottom: 30px;
}

.no-side-padding {
  padding-left: 0;
  padding-right: 0;
}

.nounderline {
  text-decoration: none !important;
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand.
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* end logo and header */
/* hero section */
#hero {
  max-height: 240px;
  min-height: 80px;
  background-color: #6ebf4b;
  color: #fff;
  padding: 30px 15px;
}

#hero h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* end hero */
/* search section */
#search-button-bott {
  position: absolute;
  right: 0;
  bottom: 0;
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#search .icon {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
}

.animal {
  background-image: url("../images/icon-cat-white.svg");
}

.state {
  background-image: url("../images/icon-state.svg");
}

.location {
  background-image: url("../images/icon-home.svg");
}

#search {
  background-color: #4e9638;
  min-height: 110px;
  color: #fff;
  padding: 50px 15px 40px 15px;
}

#search a {
  color: #fff;
}

.search-button {
  border: 0;
  background: #0193d0;
  width: 100%;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.search-button:hover {
  color: #0193d0;
  background: #fff;
  box-shadow: none !important;
}

.advanced-search {
  padding-top: 10px;
  height: 40px;
  display: block;
  /*margin-top:25px;*/
}

.advanced-search.active {
  margin-bottom: 10px;
}

.advanced-search::after {
  top: 12px;
  margin-left: 3px;
}

.advanced-search.active::after {
  top: 16px;
  margin-left: 3px;
}

.select2-container--default .select2-selection--single {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0px;
  border-radius: 0px;
  height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff;
  line-height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
  position: absolute;
  top: 3px;
  right: 0px;
  width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow::before, .advanced-search::after, h3[data-toggle="collapse"]::after {
  content: "\f078";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  transform: rotate(180deg);
  transform-origin: center;
  transition: all 0.2s ease-in-out;
}

.select2-container--default .select2-selection--single .select2-selection__arrow::before {
  top: 10px;
  left: 0px;
  transform: rotate(0deg);
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow::before, .advanced-search.active::after, h3.collapsed[data-toggle="collapse"]::after {
  content: "\f078";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transform: rotate(180deg);
  transform-origin: center;
  transition: all 0.2s ease-in-out;
}

.advanced-search.collapsed::after, .advanced-search::after, h3.collapsed[data-toggle="collapse"]::after {
  transform: rotate(0deg);
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: 0;
}

.checkbox label {
  padding-left: 30px;
  line-height: 1.2;
}

.checkbox label::before {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 0;
  content: "\f00c";
  font: normal normal normal 0px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: transparent;
  transition: all 0.15s ease-in-out;
}

.checkbox input[type="checkbox"]:checked + label::before {
  color: #fff;
  font-size: 20px;
}

input[type=checkbox], input[type=radio] {
  visibility: hidden;
}

.select2-container.select2-container--default {
  width: 100% !important;
}

.select2-container.select2-container--default.with-icon .select2-selection__rendered {
  padding-left: 35px;
}

#advanced-search .select2-container.select2-container--default.with-icon .select2-selection__rendered {
  padding-left: 10px;
}

.select2-container.select2-container--default.with-icon.icon {
  height: 40px !important;
  background-position: 5px 50%;
  background-size: 25px;
  padding-left: 0px;
}

/* end search section */
#recent {
  background-color: #6ebf4b;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

#recent a {
  color: #fff;
}

.criteria {
  border: 1px solid #bfbfbf;
  display: inline-block;
  margin: 10px 10px 10px 0;
  padding: 11px;
  color: #575757;
}

.alert-dismissable, .alert-dismissible {
  padding-right: 20px;
}

.alert-dismissable .close, .alert-dismissible .close {
  opacity: 1;
  top: -10px;
  right: -15px;
  color: #6f6f6f;
  min-height: 20px;
  height: auto;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}

.alert-dismissable .close:hover, .alert-dismissible .close:hover {
  opacity: 1;
  transform: scale(1.1);
  color: #000;
  right: -17px;
}

/* main and content */
.vertial-align-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  /* IE 9 */
  -webkit-transform: translateY(-50%);
  /* Chrome, Safari, Opera */
  transform: translateY(-50%);
}

.more-info-cta {
  margin: 0 !important;
}

#main-results {
  background-color: #f2f2f2;
  padding-top: 10px;
}

#main {
  background-color: #ffffff;
  padding-top: 75px;
  padding-bottom: 75px;
}

#content > .row, .row {
  position: relative;
}

.col-text {
  padding: 60px 15px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  /* IE 9 */
  -webkit-transform: translateY(-50%);
  /* Chrome, Safari, Opera */
  transform: translateY(-50%);
}

.col-text.no-vertical-algin {
  position: relative;
  top: 0;
  -ms-transform: translateY(0);
  /* IE 9 */
  -webkit-transform: translateY(0);
  /* Chrome, Safari, Opera */
  transform: translateY(0);
}

.right__aligned {
  right: 0;
}

.col-text h3 {
  margin-bottom: 30px;
}

.col-text a {
  margin-top: 30px;
}

.col-picture {
  padding: 0;
  background-color: #fff;
}

.col-video {
  padding: 0;
  background-color: #fff;
}

.full-width {
  padding: 0;
}

.float-right {
  float: right;
}

.text {
  color: #848484;
  margin-bottom: 20px;
  padding: 15px;
}

[data-toggle="collapse"] {
  cursor: pointer;
}

h3[data-toggle="collapse"]::after {
  margin-left: 15px;
  margin-top: 6px;
}

h3.collapsed[data-toggle="collapse"]::after {
  margin-left: 15px;
  margin-top: 2px;
}

.more-info-cta-container {
  text-align: left;
}

.more-info-text {
  text-align: right;
  margin: 15px 0 20px;
}

.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.background-image img {
  display: none;
}

#breed_dropdown, .breed_dropdown, .animal__sizes {
  display: none;
}

/* end main and content */
/* pets display */
#pets {
  margin-top: 10px;
}

.pet {
  width: calc(20% - 40px);
  margin-right: 20px;
  margin-left: 20px;
}

.thumbnail .caption {
  padding: 15px 20px;
  background-color: #fff;
}

#recent_pets .pet {
  width: calc(25% - 40px);
}

/* #recent_pets { margin-bottom: 50px; }*/
#recent-pets {
  padding: 20px 20px 0;
}

#similar-pets .pet {
  width: calc(25% - 40px);
}

#similar-pets .pet .thumbnail img,
#recent_pets .pet .thumbnail img {
  width: auto;
  height: 200px;
  margin-left: 0;
}

#recent_pets .pet .thumbnail {
  background-image: none !important;
}

#similar-pets .pet .thumbnail .caption,
#recent_pets .pet .thumbnail .caption {
  padding: 15px 20px;
  min-height: 126px;
  background: #fff;
}

.thumbnail {
  padding: 0;
  width: 100%;
  height: auto;
}

.pet .thumbnail {
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.thumbnail .caption h3, .thumbnail .caption > p {
  display: block;
  margin: 0 0 0 50px;
}

.caption h3 {
  color: #6ebf4b;
  font-size: 20px;
}

.thumbnail .caption > p {
  color: #848484;
  font-size: 16px;
}

.pet .icon {
  width: 40px;
  height: 40px;
  float: left;
}

.amphibian {
  background-image: url("../images/icon_general_pet.png");
  background-image: url("../animal_icons/icon_amphibian.png");
}

.bird {
  background-image: url("../images/icon_general_pet.png");
  background-image: url("../animal_icons/icon_bird.png");
}

.cat {
  background-image: url("../images/icon_general_pet.png");
  background-image: url("../animal_icons/icon_cat.png");
}

.dog {
  background-image: url("../images/icon_general_pet.png");
  background-image: url("../animal_icons/icon_dog.png");
}

.farm_cattle {
  background-image: url("../images/icon_general_pet.png");
  background-image: url("../animal_icons/icon_farm_cattle.png");
}

.ferret {
  background-image: url("../images/icon_general_pet.png");
  background-image: url("../animal_icons/icon_ferret.png");
}

.fish {
  background-image: url("../images/icon_general_pet.png");
  background-image: url("../animal_icons/icon_fish.png");
}

.fowl {
  background-image: url("../images/icon_general_pet.png");
  background-image: url("../animal_icons/icon_fowl.png");
}

.goat {
  background-image: url("../images/icon_general_pet.png");
  background-image: url("../animal_icons/icon_goat.png");
}

.horse {
  background-image: url("../images/icon_general_pet.png");
  background-image: url("../animal_icons/icon_horse.png");
}

.kitten {
  background-image: url("../images/icon_general_pet.png");
  background-image: url("../animal_icons/icon_kitten.png");
}

.pig {
  background-image: url("../images/icon_general_pet.png");
  background-image: url("../animal_icons/icon_pig.png");
}

.pocketpet, .guinea_pig {
  background-image: url("../images/icon_general_pet.png");
  background-image: url("../animal_icons/icon_pocketpet.png");
}

.puppy {
  background-image: url("../images/icon_general_pet.png");
  background-image: url("../animal_icons/icon_puppy.png");
}

.rabbit {
  background-image: url("../images/icon_general_pet.png");
  background-image: url("../animal_icons/icon_rabbit.png");
}

.reptile {
  background-image: url("../images/icon_general_pet.png");
  background-image: url("../animal_icons/icon_reptile.png");
}

.rodent {
  background-image: url("../images/icon_general_pet.png");
  background-image: url("../animal_icons/icon_rodent.png");
}

.sheep {
  background-image: url("../images/icon_general_pet.png");
  background-image: url("../animal_icons/icon_sheep.png");
}

.general_pet {
  background-image: url("../images/icon_general_pet.png");
}

/* end pet display */
#search-more {
  padding: 45px 20px;
}

#search-more a {
  font-size: 20px;
}

#go-to-search-page a {
  font-size: 20px;
  font-weight: bold;
}

/* easy steps */
#easy-steps {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
}

#easy-steps.light-green {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f0f8ed;
}

#easy-steps h2 {
  margin-bottom: 40px;
}

#easy-steps .icon {
  width: 100px;
  height: 70px;
  float: none;
  display: block;
  margin: 0 auto 30px;
}

#easy-steps h3 {
  font-size: 26px;
  margin-bottom: 30px;
}

.laptop {
  background-image: url("../images/icon-laptop.svg");
}

.cup {
  background-image: url("../images/icon-cup.svg");
}

.flag {
  background-image: url("../images/icon-flag.svg");
}

.calendar {
  background-image: url("../images/icon-calendar.svg");
}

/* end easy steps */
/* blue section */
#blue-section {
  background-color: #0093d0;
  color: #fff;
  padding-top: 85px;
  padding-bottom: 85px;
}

#blue-section .btn {
  margin-top: 15px;
  border: 1px solid #fff;
}

/* end blue section */
#content.caring-for-your-pet {
  padding-top: 60px;
}

#content.caring-for-your-pet ul.tips-for-pet-care {
  padding-bottom: 60px;
}

/* sponsors section */
#sponsors-section {
  background-color: #f2f2f2;
  color: #fff;
  border-top: 1px solid #f2f2f2;
  padding-top: 60px;
}

#sponsors-section > .row {
  margin-bottom: 50px;
}

#sponsors-section h3 {
  font-size: 24px;
  position: relative;
  margin: 0 auto;
  display: block;
}

.sponsor {
  max-height: 310px;
  width: 20%;
}

.sponsor.full {
  max-height: 310px;
  padding: 0;
}

.sponsor img {
  max-height: 300px;
}

.full img {
  height: 310px;
  max-height: 310px;
  width: 100%;
}

/* end sponsors section */
/* footer */
#footer {
  background-color: #2d2d2d;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
}

#footer h4 {
  font-size: 20px;
}

#footer ul li {
  line-height: 2;
}

#footer a {
  color: #fff;
}

#footer a:hover, #footer a:focus {
  color: #6ebf4b;
  text-decoration: underline;
}

#footer a.newsletter-trigger:hover, #footer a.newsletter-trigger:focus {
  color: #fff;
  text-decoration: underline;
}

#footer a.newsletter-trigger {
  line-height: 150%;
}

.btn-success {
  background-color: #6ebf4b;
}

.rspca-footer {
  max-width: 145px;
  margin-bottom: 10px;
}

/* end footer */
/* made by leafcutter */
#made-by-leafcutter {
  background-color: #6ebf4b;
  color: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
}

#made-by-leafcutter a {
  color: #000000;
}

#made-by-leafcutter a:hover, #made-by-leafcutter a:focus, #made-by-leafcutter a:active {
  color: #ffffff;
}

/* end made by */
/* loader */
#pets-loader {
  /*position: fixed;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #fff;
  opacity: 0.9;
  z-index: 200000;
}

#pets-loader .loader {
  background: url(../images/running_dog.gif) no-repeat center 40%;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  vertical-align: middle;
  line-height: 50vh;
}

/* end loader */
/* pet profile */
/* swipper */
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 30px !important;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 30px !important;
}

.swiper-button-next, .swiper-button-prev {
  top: 40% !important;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

#sponsors-section .swiper-container {
  height: auto;
}

.swiper-container.gallery-steps {
  height: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  width: 25% !important;
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}

/* end swiper */
#pet-info {
  margin: 0;
  padding-bottom: 20px;
}

#pet-info .icon, .pets-name .icon {
  display: inline-block;
  float: none;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin: -20px 5px -20px 0;
}

#profile .category {
  border-bottom: 1px solid #afbdaa;
  margin-top: 15px;
}

#profile div .category:first-of-type {
  margin-top: 0px;
}

#profile, #contact-pet, #notification {
  color: #000000;
}

#stats {
  margin: 30px 0;
}

#stats, #contact-pet {
  padding-bottom: 20px;
}

#profile h3 {
  margin-bottom: 20px;
}

#profile #stats h3, #profile #recently-viewed h3 {
  text-align: left;
}

#stats .row {
  margin-bottom: 10px;
}

#stats p {
  border-bottom: 1px solid #ffffff;
}

#about-pet, #notification {
  padding: 12px;
  margin: 30px 0;
}

#about-pet, #pet-info, #pet-video, #recently-viewed {
  background-color: #ffffff;
}

#pet-video, #recently-viewed {
  margin: 20px 0 0;
}

#pet-video .embed-responsive {
  margin: 0 -15px;
}

#about-pet h2 {
  padding: 20px;
  font-size: 28px;
  margin-bottom: 20px;
}

#profile #pet-id, #stats, #contact-pet, #about-pet, #notification, #pet-info, #pet-video, #recently-viewed, .share {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.modal-body h4 {
  margin: 0 0 20px;
}

.modal-body .row, #recently-viewed .row {
  margin-bottom: 20px;
}

.pets-picture {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100px;
  width: 100px;
  vertical-align: middle;
  display: inline-block;
  float: none;
  margin-left: 15px;
}

.pets-name {
  margin-right: 0;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  color: #848484;
  float: none;
  padding-left: 5px;
  padding-right: 5px;
}

.pets-name-profile-page {
  margin-right: 0;
  display: inline-block;
  vertical-align: middle;
  color: #848484;
  float: none;
  padding-left: 5px;
  padding-right: 5px;
}

.share {
  margin-top: 15px;
  padding: 20px;
}

.sidebar {
  margin-bottom: 30px;
}

#similar-pets, #recent_pets, #recently_viewed_pets {
  padding-bottom: 30px;
}

#similar-pets h2, #recent_pets h2, #recently_viewed_pets h2 {
  padding-top: 20px;
  margin-bottom: 50px;
}

#similar-pets > .row:first-child {
  margin-bottom: 50px;
}

h2#recently-viewed-title {
  padding-top: 20px;
  margin-bottom: 50px;
}

#similar-pets .pet h3, #recent_pets .pet h3, #recently_viewed_pets .pet h3 {
  margin-bottom: 0px;
}

.bottomPetThumbnail {
  height: 200px;
  overflow: hidden;
  background-position: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #252525;
}

/* end pet profile */
/* swiper bullets */
.counter {
  height: 55px;
}

.counter ul {
  text-align: center;
}

.counter ul li {
  display: inline-block;
  height: 10px;
  width: 10px;
  border: solid 2px #404041;
  border-radius: 10px;
  margin: 2.5px;
}

.counter ul li.on {
  background: #404041;
}

/* end swiper bullets */
/* additional stuff */
.less-padding {
  padding-left: 1px;
  padding-right: 1px;
}

#easy-steps .step > h5 {
  color: #848484;
  margin-top: 0;
  margin-bottom: 0;
}

#easy-steps .step > h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

#easy-steps .step > span > img {
  max-width: 50%;
}

#newsletter-signup-button {
  margin-top: 20px;
  margin-bottom: 10px;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  display: none;
}

#adopt-now-button {
  line-height: 24px;
  white-space: normal;
}

.btn-warning {
  color: #fff;
  background-color: #ec971f;
}

.btn-warning:hover {
  color: #fff;
  background-color: #f0ad4e;
}

#adopt-now-button {
  color: #fff;
  background-color: #FF9935;
  padding: 10px 5px;
}

.btn-info {
  color: #fff;
  background-color: #31b0d5;
}

.btn-info:hover {
  color: #fff;
  background-color: #46b8da;
}

#homepage-list-title-container {
  display: none;
}

#homepage-list-title-container h2 {
  margin-top: 20px;
  margin-bottom: 25px;
  font-weight: normal;
}

body.home #homepage-list-title-container {
  display: block;
}

.dropdown-menu {
  margin: -1px 0 0;
}

#recently-viewed {
  border: 1px #31b0d5 solid;
}

#recently-viewed h3.blue:after {
  content: "\f058";
  right: 15px;
  transform: rotate(0deg);
  margin-top: 4px;
}

#recently-viewed a.recently-viewed-toggle {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  margin-top: -10px;
  font-size: 13px;
  color: #545454;
}

#back-to-search {
  margin: 10px 0;
}

#back-to-search > div {
  padding: 0;
}

#profile {
  background: #f2f2f2;
}

#profile .container {
  margin-bottom: 30px;
}

#pet-id {
  background-color: #FF9935;
}

#about-pet {
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

#pet-profile-page a.share {
  font-weight: bold;
}

#pet-profile-page a.share i {
  font-size: 32px;
}

#pet-profile-page a.share.fb {
  color: #fff;
  background-color: #005490;
}

#pet-profile-page a.share.tweet {
  color: #fff;
  background-color: #6ebf4b;
}

#pet-profile-page a.share.donate {
  color: #fff;
  background-color: #909090;
}

/*#content.sponsors-page .embed-image { margin-bottom: 2px; }*/
.fixed__min-height {
  max-height: 554px;
  min-height: 554px;
}

/* end additional stuff */
/* media query */
@media screen and (max-width: 1024px) and (min-width: 992px) {
  #about.dropdown-menu {
    right: -40px;
    max-width: 250px;
    left: auto;
  }
}

@media (max-width: 1200px) {
  .pet {
    width: calc(25% - 40px);
  }
  .logo img {
    width: 190px;
  }
  .advanced-search {
    font-size: 14px;
  }
  #about.dropdown-menu {
    left: -65px;
  }
}

@media (max-width: 992px) {
  .pet {
    width: calc(33.33% - 40px);
  }
  .step {
    margin-bottom: 20px;
  }
  #content > .row {
    display: block;
  }
  /*.col-text {padding:15px 15px;display:table-cell;vertical-align:middle;float:left;}
	.col-picture {padding:0;display:table-cell;vertical-align:middle;float:left;}
	.col-video {padding:0;display:table-cell;vertical-align:middle;float:left;width:100vw;}*/
  .navbar-toggle {
    display: block;
  }
  .logo img {
    width: 160px;
  }
  /*.navbar-collapse.collapse {display:none!important;}
	.navbar-collapse.collapse.in {display:block!important;}*/
  #main-menu {
    margin: 0;
    padding-top: 60px;
  }
  #main-menu a {
    margin: 0 auto;
    line-height: 2.5;
    display: block;
    border-bottom: 1px solid #c7ecb7;
  }
  .dropdown-menu {
    position: relative;
    box-shadow: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .dropdown-menu > li > a {
    padding: 0 0 0 10px;
  }
  #hero h1 {
    font-size: 30px;
  }
}

@media (max-width: 991px) {
  .logo-holder {
    margin-left: 0;
  }
  #main-menu {
    display: none;
  }
  #advanced-search {
    max-height: 389px !important;
  }
  .background-image {
    background-image: none !important;
  }
  .background-image img {
    display: block;
  }
  #search-button-bott {
    position: relative;
    margin-top: 15px;
    padding: 0;
  }
  #about.dropdown-menu {
    left: 0 !important;
  }
  .col-text {
    position: relative;
    top: 0;
    -ms-transform: translateY(0);
    /* IE 9 */
    -webkit-transform: translateY(0);
    /* Chrome, Safari, Opera */
    transform: translateY(0);
  }
  .more-info-cta-container {
    text-align: center;
  }
  .more-info-text {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 30px;
  }
  .more-info-cta {
    float: none;
  }
  .no-vertial-align-center-small {
    position: relative;
    top: 0;
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .fixed__min-height {
    height: auto !important;
    max-height: 100%;
    min-height: 100%;
  }
}

@media (max-width: 768px) {
  #advanced-search {
    max-height: 629px !important;
  }
  .dynamic-width-element {
    width: 100% !important;
  }
  .pet, #recent_pets .pet, #similar-pets .pet {
    width: calc(50% - 40px);
  }
  .logo img {
    width: 140px;
  }
  #similar-pets .pet .thumbnail img,
  #recent_pets .pet .thumbnail img {
    width: auto;
    height: 140px;
  }
  #similar-pets .pet .thumbnail .caption,
  #recent_pets .pet .thumbnail .caption {
    padding: 15px 20px;
    min-height: 82px;
  }
  #similar-pets .pet .thumbnail .caption > p,
  #recent_pets .pet .thumbnail .caption > p {
    font-size: 12px;
  }
  #similar-pets .pet .thumbnail .caption > h3,
  #recent_pets .pet .thumbnail .caption > h3 {
    font-size: 16px;
  }
  .search-button {
    margin-top: 20px;
  }
  #search-button {
    margin-top: 0px;
  }
  /*.row { margin-right: -5px; } */
}

/*  */
@media (max-width: 480px) {
  #advanced-search {
    max-height: 100% !important;
  }
  .logo {
    margin-top: 5px;
    margin-bottom: 0;
    max-height: 60px;
  }
  .logo img {
    width: 120px;
  }
  #main-menu {
    margin: 10px auto -10px;
    padding-top: 30px;
  }
  #main-menu div {
    text-align: left !important;
  }
  #main-menu a {
    margin: 0 auto;
    line-height: 2.5;
    display: block;
  }
  #hero {
    text-align: center;
    padding: 15px;
  }
  #hero h1 {
    font-size: 17px;
  }
  #similar-pets .pet, #recent_pets .pet, .pet {
    width: calc(50% - 10px);
    margin-right: 5px;
    margin-left: 5px;
  }
  .thumbnail .caption {
    padding: 10px 5px;
  }
  .caption h3 {
    font-size: 16px;
  }
  .thumbnail .caption > p {
    font-size: 14px;
  }
  .less-padding {
    padding-left: 15px;
    padding-right: 15px;
  }
  #homepage-list-title {
    font-size: 22px;
  }
  #footer {
    text-align: center;
  }
  #footer img.rspca-footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  #footer ul.legal-data li {
    float: left;
    width: 50%;
    font-size: 14px;
  }
  /*.row { margin-right: -15px; }*/
  .advanced-search {
    padding-bottom: 10px;
    height: 40px;
    display: block;
    margin-bottom: -10px;
  }
  .advanced-search.active {
    margin-bottom: 25px;
  }
  .advanced-search::after {
    top: 12px;
    margin-left: 3px;
  }
  .advanced-search.active::after {
    top: 16px;
    margin-left: 3px;
  }
}

/*@media (min-width: 480px) {
	.more-info-text { text-align: center; margin-bottom: 20px;margin-top: 15px;font-size: 30px;}
	.more-info-cta { float: none; }
}
*/
#contact-data {
  margin-top: 20px;
}

#contact-data .social_row {
  /*position: absolute;
    bottom: 20px;*/
}

#contact-data p {
  font-size: 1.5rem;
}

.contact-box {
  border: 1px solid #848484;
  min-height: 350px;
}

.contact-box i {
  margin-right: 15px;
}

.modal .form-control {
  border: 1px solid #848484;
  color: #848484;
}

#pet-name {
  padding-left: 10px;
}

input#pet-name::-webkit-input-placeholder {
  color: #fff;
}

input#pet-name:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

input#pet-name::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

input#pet-name:-ms-input-placeholder {
  color: #fff;
}

.arrow-dropdown-toggle {
  width: 100%;
  height: 100%;
  text-align: left;
}

.arrow-dropdown-toggle-disabled {
  width: 100%;
  height: 100%;
  text-align: left;
}

/* ----------- iPhone 5 and 5S ----------- */
/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .logo {
    margin-left: calc(-16.66666667% - 30px);
  }
}

/* ----------- iPhone 6 ----------- */
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .logo {
    margin-left: calc(-16.66666667% - 15px);
  }
}

/* ----------- iPhone 6+ ----------- */
/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .logo {
    margin-left: calc(-16.66666667% - 30px);
  }
}

@media only screen and (min-width: 992px) and (max-width: 1280px) {
  .control-menu-item {
    margin-left: 27%;
    margin-right: 4%;
  }
}

.box {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.captionn {
  padding: 0px 0px 10px 0px;
}

.captionn .icon {
  width: 40px;
  height: 40px;
  float: left;
  margin: 0px 10px;
}

.fowl {
  -webkit-background-image: url("..//images/animal/icon.png");
  background-image: url("..//images/animal/icon.png");
}

/*--------------------------------
  End :second page start
----------------------------------*/
/*-------------------------------
End:Custrom style
-------------------------------*/
/*Default font family*/
/*changeable font color*/
/*bg-color*/
/*some default color*/
/*<hr> color*/
/*basic var*/
body {
  background-color: white;
  font-size: 16px;
  line-height: 1.6;
  font-family: Lato;
  font-weight: 400;
  color: #646464;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0px;
  max-width: 100vw;
  overflow-x: hidden;
}

/*Default font family*/
/*changeable font color*/
/*bg-color*/
/*some default color*/
/*<hr> color*/
/*basic var*/
/*------------------------
Default style of Link
-------------------------*/
a {
  display: block;
  color: #646464;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

a:hover, a:focus {
  color: #FF9935;
  text-decoration: none;
}

/*Default font family*/
/*changeable font color*/
/*bg-color*/
/*some default color*/
/*<hr> color*/
/*basic var*/
::selection {
  background: #2574f5;
}

::-moz-selection {
  background: #2574f5;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #2574f5;
}

/*Default font family*/
/*changeable font color*/
/*bg-color*/
/*some default color*/
/*<hr> color*/
/*basic var*/
/*responsive mixin
------------------*/
hr.up {
  position: relative;
  left: 0px;
  width: 300px;
  height: 2px;
  background: #5b68ce;
  margin: 0px 0px;
}

@media screen and (max-width: 480px) {
  hr.up {
    width: 250px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  hr.up {
    width: 250px;
  }
}

hr.down {
  position: relative;
  left: 0px;
  width: 140px;
  height: 2px;
  background: #5b68ce;
  margin: 0px 0px;
}

@media screen and (max-width: 480px) {
  hr.down {
    width: 100px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  hr.down {
    width: 100px;
  }
}

.title-wrapper {
  position: relative;
  padding: 10px 10px;
}

.title-wrapper::after {
  position: absolute;
  left: 0px;
  top: 0px;
  content: '';
  width: 2px;
  height: 100%;
  background: #5b68ce;
}

/*Default font family*/
/*changeable font color*/
/*bg-color*/
/*some default color*/
/*<hr> color*/
/*basic var*/
/*----------
Font Color
-----------*/
/*Some default used color*/
.white {
  color: #ffffff;
}

.white-5 {
  color: #f2f2f2;
}

.white-10 {
  color: #e6e6e6;
}

.white-15 {
  color: #d9d9d9;
}

.white-20 {
  color: #cccccc;
}

.black {
  color: #000000;
}

/*used color in page, change color here*/
.basic-color {
  /*basic text color of this page*/
  color: #FF9935;
}

.light-basic-color {
  /*ligth text color based on ".basic-color" */
  color: #b9b9f6;
}

.text-color {
  /*normal body text color,change body normal text color change this color*/
  color: #646464;
}

.title-color {
  /*title text color of the page*/
  color: #484848;
}

/*------------
End:Font Color
--------------*/
/*-------------------------------------------
 Background color of the page
 ------------------------------------------*/
.basic-bg-color {
  background-color: #FF9935;
}

.basic-bg-color-7 {
  background-color: rgba(255, 153, 53, 0.79);
}

.different-bg-color {
  background-color: #f3f3f3;
}

.footer-bg-color {
  background-color: #f4f4f4;
}

/*-------------------------------------------
 End : Background color of the page
 ------------------------------------------*/
/*Default font family*/
/*changeable font color*/
/*bg-color*/
/*some default color*/
/*<hr> color*/
/*basic var*/
/*-----------------------------

start:helper class

-----------------------------*/
/*----------------
float
------------------*/
.f-l {
  float: left;
}

.f-r {
  float: right;
}

/*-------------------
Display
-------------------*/
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

/*-------------------------
overflow
-------------------------*/
.overflow {
  overflow: hidden;
}

.overflow-x {
  overflow-x: hidden;
}

.overflow-y {
  overflow-x: hidden;
}

/*-------------------------
Border Radius
-------------------------*/
.radius-0 {
  border-radius: 0px;
}

.radius-5 {
  border-radius: 5px;
}

.radius-10 {
  border-radius: 10px;
}

.radius-15 {
  border-radius: 15px;
}

.radius-20 {
  border-radius: 20px;
}

.radius-25 {
  border-radius: 25px;
}

.radius-30 {
  border-radius: 30px;
}

.radius-35 {
  border-radius: 35px;
}

.radius-40 {
  border-radius: 40px;
}

.radius-45 {
  border-radius: 45px;
}

.radius-50 {
  border-radius: 50px;
}

/*-------------------
Button
-------------------*/
button {
  border: none;
  outline: none;
  letter-spacing: .1em;
  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  text-align: center;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/*-----------------------
Link
------------------------*/
a {
  border: none;
  outline: 0;
  text-decoration: none;
}

/*-----------------------
input field
-----------------------*/
input, textarea {
  border: none;
  outline: none;
}

input:focus, textarea:focus {
  border: none;
  outline: none;
}

/*---------------------------
Gap Between Different Section
---------------------------*/
.main {
  padding: 100px 0px;
}

@media screen and (max-width: 480px) {
  .main {
    padding: 40px 0px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .main {
    padding: 60px 0px;
  }
}

/*------------------------------------------
Some Important class for responsive purposes
-------------------------------------------*/
@media screen and (max-width: 480px) {
  .s-text-center {
    text-align: center;
  }
  .s-text-left {
    text-align: left;
  }
  .s-text-right {
    text-align: right;
  }
  .s-center-x {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .s-center-y {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .s-block {
    display: block;
  }
  .s-inline-block {
    display: inline-block;
  }
  /*margin*/
  .s-m-l-0 {
    margin-left: 0px;
  }
  .s-m-r-0 {
    margin-right: 0px;
  }
  .s-m-b-5 {
    margin-bottom: 5px;
  }
  .s-m-b-10 {
    margin-bottom: 10px;
  }
  .s-m-b-15 {
    margin-bottom: 15px;
  }
  .s-m-b-20 {
    margin-bottom: 20px;
  }
  .s-m-b-25 {
    margin-bottom: 25px;
  }
  .s-m-b-30 {
    margin-bottom: 30px;
  }
  .s-m-b-35 {
    margin-bottom: 35px;
  }
  .s-m-b-40 {
    margin-bottom: 40px;
  }
  .s-m-b-45 {
    margin-bottom: 45px;
  }
  .s-m-b-50 {
    margin-bottom: 50px;
  }
  .s-m-b-55 {
    margin-bottom: 55px;
  }
  .s-m-b-60 {
    margin-bottom: 60px;
  }
  .s-f-l {
    float: left;
  }
  .s-f-r {
    float: right;
  }
  .s-f-a {
    float: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .s-text-center {
    text-align: center;
  }
  .s-text-left {
    text-align: left;
  }
  .s-textright {
    text-align: right;
  }
  .s-center-x {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .s-center-y {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .s-block {
    display: block;
  }
  .s-inline-block {
    display: inline-block;
  }
  .s-f-l {
    float: left;
  }
  .s-f-r {
    float: right;
  }
  .s-f-a {
    float: none;
  }
}



/*-----------------------------
end:helper class
-----------------------------*/



#post {
  color:white;
  padding: 15px 30px;
  border-radius:30px;
}

 #post:hover {
    -webkit-appearance:none;
    appearance:none;
    color:white;
    background-color:#FF7E00;
  }



/*--------------------------------------------
 Start : Third Page
 ------------------------------------------*/

 .listing .pet-image-wrapper {
    border:1px solid #FF9935;
    padding: 10px;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.2)
 }

 .listing .whole-wrapper {
    padding: 30px 0px;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.2)
 }

 .wrapper-inner {
    padding: 20px 30px;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.2)
 }



 /*------------------------------------------
  Login Page
  ------------------------------------------*/
  .login-container-wrapper {
    overflow: hidden;
    background: #eee;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  }

  .login-container-wrapper .login-container {
    width:200%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }

  .login-container .stage {
    width:50%;
    padding: 50px 50px;
    background: white;

  }

  .stage.stage-1 {
   transition: all 0.4s linear;
    -webkit-transform-origin: center right;
            transform-origin: center right;
  }

 


  .stage input[type] {
     margin: 10px 0px;
  }

  .stage-1 input[type="email"],input[type="password"] {
    width: 100%;
    padding: 20px 15px;
    background:white;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
    border:2px solid transparent;
    border-bottom-color:#FF9935;
    -webkit-transition:all 0.3s linear;
    transition:all 0.3s linear;

  }

  .stage-2 input[type="number"],textarea {
     -webkit-appearance: none;
     appearance:none;
     width: 100%;
      padding: 20px 15px;
      background:white;
      box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
      border:2px solid transparent;
      border-bottom-color:#FF9935;
      -webkit-transition:all 0.3s linear;
      transition:all 0.3s linear;
  }

  .stage-2 input[type="text"],input[type="email"] {
    width: 49%;
    padding: 20px 15px;
    background:white;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
    border:2px solid transparent;
    border-bottom-color:#FF9935;
    -webkit-transition:all 0.3s linear;
    transition:all 0.3s linear;

  }

  .stage-2 input[type="text"] {
    margin-right: 5px;
  }

  .stage input[type]:focus{
    border:2px solid #FF9935;
  }

  .stage .login-btn {
    width: 100%;
    padding: 12px 0px;
    margin-top: 15px;
    letter-spacing: .2em;
  }

  .stage .login-btn:hover {
    background-color: #FF7E00;
  }

  #go-next {
    cursor: pointer;
  }

  @media screen and (max-width: 480px) {
      .stage-2 input[type="text"],input[type="email"] {
        width: 100%;
        margin:10px 0px;
      }
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    .stage-2 input[type="text"],input[type="email"] {
        width: 100%;
        margin:10px 0px;
      }
  }

.login-container-wrapper.is-transitioned .login-container {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.login-container-wrapper.is-transitioned .stage-1 {
  opacity: 0;
}


/*--SLIDER--*/

.slide-container {
  position: relative;
}
.slide-container #prev {
  position: absolute;
  top:50%;
  left:0px;
  height: 40px;
  width: 40px;
  z-index: 99999;
  cursor: pointer;
}

.slide-container #next {
  position: absolute;
  top:50%;
  right:0px;
  height: 40px;
  width: 40px;
  z-index: 99999;
  cursor: pointer;
}


.slider-wrapper {
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
  width:1000%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slider-wrapper .left,.right{
  position: absolute;
  top:50%;
  z-index: 9999;
  height: 100px;
  width:100px;
  background-color: black;
  color:white;
  margin-top: -50px;
  line-height: 100px;
}



.slider-wrapper .slide {
  width:10%;
}
#sortBy {
  width: 100%;
}
#sortBy,.select {
  padding: 10px 20px;
  outline: 0px !important;
}

.select {
  width: 100%;
}

.text {
  padding: 10px 20px;
  border: 1px solid black;
  width:100%;
}
.text:focus {
  border :1px solid black;
}



  .textarea {
    border:1px solid #FF7E00;
    outline: 0px !important;
    resize: none;
    width:100%;
    height: 180px;
    transition: all 0.3s linear;
    padding: 10px 15px;
  }

  .comment-btn {
    width: 100%;
    background-color: #FF7E00;
  }


/*range slider*/
::-moz-focus-inner {outline:0;}
:focus {outline:0;}

/* Styling the tracks. Each browser needs certain elements to be done separately or it barfs */

input[type=range] {
    padding: 0; margin: 0;
    background: #FF7E00;;
    box-sizing: border-box;
    vertical-align: top;
    -webkit-appearance: none;
    width: 100%;
    border-radius:0px;
    color: transparent;
    height: 5px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: black;
  width: 12px;
  height: 20px;
  cursor: pointer;
}

.up-btn {
  width:100%;
  margin-bottom: 30px; 
}

.select.select-1 {
  width:300px;
}





.btn.kv-fileinput-upload {
  display: none;
}
.btn.fileinput-remove-button {
  background-color: black;
  color: white;
}

.btn.btn-file {
  background-color: #FF9935;
}

.kv-fileinput-caption {
  color: black;
}

#animal-select {
  width:100%;
  padding: 10px 20px;
  text-align: center;
}

input.fill-form {
  width: 100%;
  padding: 20px 15px;
  background:white;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
  border:2px solid transparent;
  border-bottom-color:#FF9935;
  -webkit-transition:all 0.5s ease-in-out;
  transition:all 0.3s linear;

}


input.fill-form:focus {
  outline: 0 !important;
  border:2px solid #FF9935;
}

.fill-btn {
  padding: 10px 30px;
  margin: 30px auto;
}
